This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'q6MvKu87Kh__aHqUn_71'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests
import collections
import pandas as pd
import datetime as dt

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned

# GET https://www.quandl.com/api/v3/datasets/{database_code}/{dataset_code}/data.{return_format}

#url = "https://www.quandl.com/api/v3/datatables/ETFG/FUND.json?ticker=AFX_X&api_key=YOURAPIKEY"
url = "https://www.quandl.com/api/v3/datasets/XFRA/AGB2_UADJ?  \
    start_date=2018-11-30&end_date=2018-11-30&api_key=q6MvKu87Kh__aHqUn_71"
r = requests.get(url)
#json = r.json()
#print(r.text)

#print(json['datatable']['data'][0])

In [20]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
json = r.json()

for key, value in json['dataset'].items():
    
    if isinstance(value,list):
#        print("Key with list value")
        print(type(key),type(value))
    else:
        print(type(key),type(value))
    
#df.columns

<class 'str'> <class 'int'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'list'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'bool'>
<class 'str'> <class 'NoneType'>
<class 'str'> <class 'NoneType'>
<class 'str'> <class 'NoneType'>
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
<class 'str'> <class 'list'>
<class 'str'> <class 'NoneType'>
<class 'str'> <class 'NoneType'>
<class 'str'> <class 'int'>

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [5]:
# Get url for quandl api to extract Frankfurt Stock Exchange for the year 2017
url_2017 = "https://www.quandl.com/api/v3/datasets/XFRA/AGB2_UADJ?  \
    start_date=2017-01-01&end_date=2017-12-31&api_key=q6MvKu87Kh__aHqUn_71"
r = requests.get(url_2017)

# Convert the returned JSON object into a Python dictionary
dict_r = r.json()
print(type(dict_r))

# Get column names for pandas dataframe: column_names
column_names = dict_r['dataset']['column_names']

# Get data of the dataframe: data_array
data_array = dict_r['dataset']['data']

# Change dictionary o: dfbject into pandas dataframe: df
df = pd.DataFrame(data_array,columns = column_names)

<class 'dict'>

In [6]:
# Check the data type of the columns: df.dtypes
df.dtypes

Date                  object
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume               float64
Adjustment Factor    float64
Adjustment Type      float64
dtype: object

In [7]:
# Check to see if we have data that is not for 2017:
df.tail()

,Date,Open,High,Low,Close,Volume,Adjustment Factor,Adjustment Type
2864,2007-01-08,73.10,73.10,73.05,73.05,8.0,NaN,NaN
2865,2007-01-05,73.46,73.46,73.46,73.46,50.0,NaN,NaN
2866,2007-01-04,74.57,74.57,74.01,74.01,13.0,NaN,NaN
2867,2007-01-03,74.10,74.10,73.85,73.85,30.0,NaN,NaN
2868,2007-01-02,73.60,74.30,73.60,74.30,150.0,NaN,NaN

It looks like our dataframe consisted of data for years beyond the year 2017. As can be seen above we have data for the year 2007. To ensure we are only concentrating for the year 2017, we need to use boolean filter to get data for 2017 only.

In [8]:
df['Year'] = pd.DatetimeIndex(df['Date']).year
df.head()

,Date,Open,High,Low,Close,Volume,Adjustment Factor,Adjustment Type,Year
0,2017-12-29,103.333,103.999,103.288,103.288,310.0,NaN,NaN,2017
1,2017-12-28,102.389,102.389,102.389,102.389,0.0,NaN,NaN,2017
2,2017-12-27,102.574,103.600,102.574,103.600,404.0,NaN,NaN,2017
3,2017-12-26,102.958,102.958,102.958,102.958,0.0,NaN,NaN,2017
4,2017-12-25,102.958,102.958,102.958,102.958,0.0,NaN,NaN,2017

In [9]:
df['Year'].unique()

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007],
      dtype=int64)

In [10]:
bool_df = df['Year'] == 2017
df_2017 = df[bool_df]
df_2017['Year'].unique()
#df_2017['Date'].unique()

array([2017], dtype=int64)

In [11]:
# Check for missing values.
df_2017.count()

Date                 260
Open                 260
High                 260
Low                  260
Close                260
Volume               260
Adjustment Factor      2
Adjustment Type        2
Year                 260
dtype: int64

It looks like columns `Adjustment Factor` and `Adjustment Type` are missing most values and should be dropped. Other columns are not missing any value at all.

In [12]:
df_2017 = df_2017.dropna(axis=1)

In [13]:
df_2017.head()

         Date     Open     High      Low    Close  Volume  Year
0  2017-12-29  103.333  103.999  103.288  103.288   310.0  2017
1  2017-12-28  102.389  102.389  102.389  102.389     0.0  2017
2  2017-12-27  102.574  103.600  102.574  103.600   404.0  2017
3  2017-12-26  102.958  102.958  102.958  102.958     0.0  2017
4  2017-12-25  102.958  102.958  102.958  102.958     0.0  2017

In [14]:
# 3. Calculate what the highest and lowest opening prices were for the stock in this period.

# Obtain highest opening price: high_open
high_open = df['Open'].max()
print('highest opening price: ', high_open)

# Obtain lowes opening price: low_open
low_open = df['Open'].min()
print('lowest opening price: ',low_open)

highest opening price:  126.0
lowest opening price:  35.73

In [15]:
# What was the largest change in any one day (based on High and Low price)?
df_2017.loc[:,'Month'] = pd.DatetimeIndex(df_2017.loc[:,'Date']).month
df_2017.loc[:,'Day'] = pd.DatetimeIndex(df_2017.loc[:,'Date']).day
df_2017.head()
df_2017.sort_values(by=['Month','Day'],ascending=False)

# Get daily difference column: df_2017[daily_diff] = High - Low
df_2017.loc[:,'daily_diff'] = df_2017.loc[::,'High'] - df_2017.loc[:,'Low']

#Get the largest daily difference: max_daily_change
max_daily_change = df_2017.loc[:,'daily_diff'].max()
print('The larges change in any one day is: ', max_daily_change)
df_2017.shape

The larges change in any one day is:  11.358000000000004

(260, 10)

In [16]:
# 5. What was the largest change between any two days (based on Closing Price)?: max_closing
df_2017.loc[:,'max_close'] = df_2017.loc[:,'Close'] - df_2017.loc[:,'Open']
max_closing = df_2017.loc[:,'max_close'].max()
print('The largest change between any two days based on closing Price is:', max_closing)

The largest change between any two days based on closing Price is: 10.304999999999993

In [17]:
# 6. What was the average daily trading volume during this year? : ave_volume
ave_volume = df_2017['Volume'].mean()
print('The average daily trading volume during this year is:',ave_volume)

The average daily trading volume during this year is: 131.3576923076923

In [18]:
#7. (Optional) What was the median trading volume during this year : median_volume
median_volume = df_2017['Volume'].median()
print('The median trading volume during this year is:',median_volume)

The median trading volume during this year is: 50.0